---
layout: default
---

<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1>{{ site.hero.hero_title }}</h1>
                <p>{{ site.hero.hero_description }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
            <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Entre em contato</h3>
            <form method="POST" action="https://formspree.io/oliveiraealvesadvocacia@gmail.com">
                <div class="form-field">
                    <input name="name" type="text" placeholder="Nome" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" placeholder="Telefone" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="comments" placeholder="Descreva seu problema sem compromisso. Entraremos em contato assim que possível" required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Enviar">
            </form>
        </div>

    </div>
</div>
<!-- End Hero -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Contato</h3>
        <ul>
            {% if site.contact.phone %}<li><img width='20px' src='{{site.baseurl}}/img/redes/phone.png'> <strong>Telefone:</strong> {{ site.contact.phone }}</li>{% endif %}
            {% if site.contact.whatsapp %}<li><a href="https://wa.me/{{site.contact.whatsapp}}"><img width='20px' src='{{site.baseurl}}/img/redes/whatsapp.png'></a> <strong>WhatsApp:</strong> {{ site.contact.whatsapp }}</li>{% endif %}
            {% if site.contact.email %}<li><strong><img width='20px' src='{{site.baseurl}}/img/redes/email.png'> Email:</strong> {{ site.contact.email }}</li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Endereço</h3>
            <p>
                {{ site.contact.address_line1 }}<br />
                {{ site.contact.address_line2 }}<br />
                {{ site.contact.address_line3 }}<br />
                * {{ site.contact.address_line4 }}
            </p>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
        <h3>Horário de Atendimento</h3>
        <table>
            <tbody>
                <tr>
                    <td>Segunda à Sexta</td>
                    <td>{{ site.monday_friday }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ site.saturday }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ site.sunday }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">O Escritório</h2>

        <div class="row">
            <div class="col-sm-6">
                <h3>Oliveira e Alves Advocacia</h3>
                <p>Nosso escritório se diferencia pelos valores e padrões de ética, respeito, dedicação, dignidade e lealdade. Nossa missão é encontrar a melhor solução jurídica possível para os problemas dos nossos clientes.</p>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-briefcase"><use xlink:href="#icon-briefcase"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Dispomos de toda a estrutura necessária ao perfeito exercício da advocacia, atuando sempre com eficiência, seriedade, credibilidade e transparência.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-group"><use xlink:href="#icon-group"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>O escritório é composto por uma equipe de advogados altamente qualificados, assistentes, estagiários e parceiros em todo o país.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-comments"><use xlink:href="#icon-comments"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Nosso escritório foi fundado com o propósito de atender os clientes de forma pessoal e dedicada, focando em suprir todas as necessidades jurídicas do cliente.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="img/about.jpg" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Treatments -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Áreas de Atuação</h2>

        <div class="row">
            {% for treatment in site.data.treatments %}
                <div class="col-sm-6 col-md-4" >
                    <div class="icon-box" style="text-align: left;">
                        <svg class="icon {{ treatment.icon }}"><use xlink:href="#{{ treatment.icon }}"></use></svg>
                        <h4>{{ treatment.title }}</h4>
                        <p>{{ treatment.description | markdownify }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->

<!-- Start Our team -->
<div id="team" class="team">
    <h2 class="section-title">Especialidades</h2>
    <div id="team-carousel">
    {% for member in site.data.team %}
        <div class="expandable-box">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/{{ member.image }}" alt="{{ member.name }}">
                <h4>{{ member.name }}</h4>
            </div>
            <div class="expandable-box-bottom">
                <a href="mailto:{{ member.email }}" data-toggle="tooltip" data-placement="bottom" title="{{ member.email }}"><svg class="icon icon-envelope"><use xlink:href="#icon-envelope"></use></svg></a>
                </a>
                <a href="tel:{{ member.phone }}" data-toggle="tooltip" data-placement="bottom" title="{{ member.phone }}"><svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg></a>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<!-- End Our team -->

<!-- Start Testimonials -->
<div id="testimonials" class="testimonials parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.testimonials.testimonials_img }}');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div id="testimonial-carousel">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonial-item">
                        <svg class="icon icon-quote-left"><use xlink:href="#icon-quote-left"></use></svg>
                        <blockquote>
                            <p>{{ testimonial.description }}</p>
                            <footer>
                                {{ testimonial.name }}
                                <small>{{ testimonial.title }}</small>
                            </footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->

<!-- Start Gallery -->
<div id="gallery" class="gallery">

    <h2 class="section-title">Conheça o Escritório</h2>

    {% for images in site.data.gallery %}
        <a href="{{ site.baseurl }}/img/gallery/large/{{ images.image_large }}" class="gallery-item expandable-box image-link">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/gallery/thumb/{{ images.image_thumb }}" alt="{{ images.image_alt }}">
            </div>
            <div class="expandable-box-bottom">
                <span><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg></span>
            </div>
        </a>
    {% endfor %}

</div>
<!-- End Gallery -->

<!-- Start Map -->
<div id="location">

  <style>
      .google-maps {
          position: relative;
          /* padding-bottom: 34%; // This is the aspect ratio */
          height: 450;
          /* overflow: hidden; */
      }
      .google-maps iframe {
          position: relative;
          top: 0;
          left: 0;
          bottom: 0;
          width: 100% !important;
      }
  </style>



<div class="google-maps">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.0098001043157!2d-46.80192668543962!3d-23.639820070378462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce549c6a5622a5%3A0x21bb68eae9bb74fa!2sEstr.%20Kizaemon%20Takeuti%2C%202487%20-%20Parque%20Sao%20Joaquim%2C%20Tabo%C3%A3o%20da%20Serra%20-%20SP%2C%2006775-003!5e0!3m2!1sen!2sbr!4v1600876831309!5m2!1sen!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<!-- End Map -->

</div>

<div id='contact'>

  <!-- Start 3 columns -->
  <div class="three-shade-col">
      <div class="col-sm-4">
          <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
          <h3>Contato</h3>
          <ul>
            {% if site.contact.phone %}<li><img width='20px' src='{{site.baseurl}}/img/redes/phone.png'> <strong>Telefone:</strong> {{ site.contact.phone }}</li>{% endif %}
            {% if site.contact.whatsapp %}<li><a href="https://wa.me/{{site.contact.whatsapp}}"><img width='20px' src='{{site.baseurl}}/img/redes/whatsapp.png'></a> <strong>WhatsApp:</strong> {{ site.contact.whatsapp }}</li>{% endif %}
            {% if site.contact.email %}<li><strong><img width='20px' src='{{site.baseurl}}/img/redes/email.png'> Email:</strong> {{ site.contact.email }}</li>{% endif %}
          </ul>
      </div>
      <div class="col-sm-4">
          <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
          <h3>Endereço</h3>
              <p>
                  {{ site.contact.address_line1 }}<br />
                  {{ site.contact.address_line2 }}<br />
                  {{ site.contact.address_line3 }}<br />
                  * {{ site.contact.address_line4 }}
              </p>
      </div>
      <div class="col-sm-4">
          <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
          <h3>Horário de Atendimento</h3>
          <table>
              <tbody>
                  <tr>
                      <td>Segunda à Sexta</td>
                      <td>{{ site.monday_friday }}</td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>{{ site.saturday }}</td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>{{ site.sunday }}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <!-- End 3 columns -->

</div>
